<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.patrick.c.simpleplayer1_13_16"
          xmlns:android="http://schemas.android.com/apk/res/android">

    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>
        <activity
            android:name="com.patrick.c.simpleplayer1_13_16.SearchActivity"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name="com.patrick.c.simpleplayer1_13_16.PlayerActivity"

                  android:theme="@style/NewDialog"
            />

        <activity
            android:name="com.patrick.c.simpleplayer1_13_16.Custompopupactivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <service android:name=".PopUpService"
                 android:exported="false"


            />





    </application>


</manifest>
